version: "3.9"
services:
  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  redis_gui:
    image: redis/redisinsight:latest
    container_name: redis_gui
    ports:
      - "5540:5540"
    depends_on:
      - redis
